* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: burlywood;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: cadetblue;
    font-size: 17px;
    font-weight: bolder;
    flex-direction: row;
    flex-wrap: nowrap;
}

li {
    list-style-type: number;
    text-transform: capitalize;
    margin: 10px 0;

}

li a {
    color: cadetblue;
    text-decoration: none;
}
li a:hover {
    color: brown;
}
.user {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 20px;
}
.user form input, button {
    width: 100%;
    padding: 5px;
    background: none;
    border: 1px solid cadetblue;
    cursor: pointer;
    margin: 10px 0;

}