* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: burlywood;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: cadetblue;
    font-size: 17px;
    font-weight: bolder;
    flex-direction: column;
    line-height: 40px;
}

li {
    list-style-type: number;
    text-transform: capitalize;

}

li a {
    color: cadetblue;
    text-decoration: none;
}
li a:hover {
    color: brown;
}
